# Ignore Binary files
# NOTE: This has to be kept, to keep this repo updateable
firmware_binaries/**
firmware_binaries/**/*.bin
firmware_binaries/**/*.uf2
firmware_binaries/**/*.elf.hex

# Needed for development if no klipper is installed
tmp
tmp/**
klipper
klipper/**
